body{
    background : #000000;
}
#rectangle{

    border: 0;
    position: absolute;
    background: black;
    

}


#InvRectangle{
    border: 0;
    position: absolute;
    /* background-color: #000000; */
}